body {
    font-family: "Roboto", sans-serif;
    color: #434455; 
    background-color: #fff;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* -------Header-------- */
.logo,
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}

.logo .logo-part {
color: #2e2f42;
}

.nav-link {
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}

.contacts {
    font-style: normal;
}

.contacts-link {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

/* --------Section1------------ */
.main-container {
    background-color: #2e2f42;
}

.main-container-text {
    font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
}

.main-button {
    font-family: inherit;
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
cursor: pointer;
background-color: #4D5AE5;
}

.main-button:hover,
.main-button:focus {
    background-color: #404BBF;
}

/* --------SECTION 2-------- */

.main-section-title {
}

.main-servis-list {
}

.main-servis-item {
}

.subtitle-servis {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.main-servis-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/* --------SECTION 3--------- */
.main-team{
    background-color: #f4f4fd;
}

.main-section-title {
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
}

.main-team-list {
}
.main-team-item {
    background-color: #FFFFFF;
}
.main-team-item-image {
}

.subtitle-team {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}

.main-team-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}

/* --------SECTION 4--------- */

.main-portfolio {
}

.main-portfolio-list {
}

.main-portfolio-item {
}

.main-portfolio-item-image {
}

.subtitle-portfolio {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.main-portfolio-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/* --------FOOTER---------- */

.footer {
    background-color: #2e2f42;
}

.footer-logo .logo-part {
    color: #f4f4fd;
    }

    .footer-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
    }